{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOA | Welcome Back</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <div class="login-container">
        <div class="login-left">
            <div class="login-left-content">
                <div class="left-divider"></div>
                <h1><span>JOA APP</span><br>SJT Group</h1>
                <p class="subtitle-text">Platform manajemen pengiriman dan biaya ekspedisi terpadu.</p>
            </div>

        </div>

        <div class="login-right">
            <span class="brand-tag">JOA</span>
            <p class="form-eyebrow">Selamat Datang</p>
            <h2>Welcome</h2>
            <p class="login-subtitle">Login with Username</p>

            {% if messages %}
            {% for message in messages %}
            <div class="error-msg">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter your username" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <input type="password" name="password" id="id_password" placeholder="Password" required>
                        <i class="fa-regular fa-eye" id="togglePassword"></i>
                    </div>
                </div>

                <a href="#" class="forgot-pass">Forgot your password?</a>
                <button type="submit" class="btn-login">LOGIN SYSTEM</button>
            </form>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
            // 1. Ganti tipe input: password <-> text
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // 2. Ganti icon: mata <-> mata coret
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>